{% extends 'base.html' %} {% block content %} {% if posts %} {% for post in posts %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card " style="margin-top:10px">
            <div class="card-header">
                <p><span class="badge"><img class="rounded-circle"  width="45px" src="{{post.user.profile.profile_pic.url}}"></span>{{post.user.profile.username}}</p>
            </div>
            <div class="card-body">
                <a href="{% url 'image' post.pk %}">
                    <img class="img-fluid" src="{{post.image_path.url}}">
                </a>
            </div>
            <div class="card-footer text-muted">
                <div style="display:flex;justify-content:space-between" class="mb-2">
                    <small>{{post.date_added}}</small>
                    <div>
                        <a href="{% url 'like' post.pk %}" class="btn btn-secondary mb-1">Like</a>
                        <p>{{ post.get_likes_total }} likes</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{post.pk}}" aria-expanded="false" aria-controls="collapseTwo">
                        Comments
                      </button>
                    </h2>
                    <div id="collapse{{post.pk}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <form action="{% url 'comment' post.pk %}" method="post" style="padding:10px">
                            {% csrf_token %}
                            <div class="mb-2 mt-1">
                                <input type="text" class="form-control" name="comment" placeholder="add comment here...">
                            </div>
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                        </form>
                        <hr>
                        <div style="padding:10px">
                            {% if post.get_comments %}
                            <h2><u>Comment</u></h2>
                            {% for comment in post.get_comments %}
                            <figure class="mb-2">
                                <blockquote class="blockquote">
                                    <p>{{comment.comment}}</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    <cite title="Source Title">{{comment.user.username}}</cite>
                                </figcaption>
                            </figure>
                            {% endfor %} {% else %}
                            <p>There are no comments yet.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endfor %} {% else %}
<h3>Dear {{user.username}}, start following others to get data displayed on your timeline...you could get started with the following...</h3>
{% for profile in profiles %}
<hr>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <img class="img-fluid rounded-circle" src="{{ profile.profile_pic.url}}">
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9" style="text-align: center">
        <h4>{{profile.username}}</h4>
        <p>{{profile.bio|truncatechars:40}}</p>
        <small>Member since {{profile.date_joined}}</small>
        <a class="btn btn-outline-secondary" href="{% url 'profile' profile.user.pk %}">View profile</a>
    </div>
</div>
{% endfor %} {% endif %} {% endblock %}