{% extends 'base.html' %} {% block content %} {% for post in posts %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card " style="margin-top:10px">
            <div class="card-header">
                <p><span class="badge"><img class="rounded-circle"  width="45px" src="{{post.user.profile.profile_pic.url}}"></span>{{post.user.profile.username}}</p>
            </div>
            <div class="card-body">
                <img class="img-fluid" src="{{post.image_path.url}}">
            </div>
            <div class="card-footer text-muted">
                <small>{{post.date_added}}</small>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endfor %} {% endblock %}