{% extends 'base.html' %}{% load static %} {% block content %}
<div class="row" style="padding:20px">
    <div class="col-md-5 col-sm-5 col-xs-5">
        <img class="rounded-circle img-fluid" src="{{profile.profile_pic.url}}">
    </div>
    <div class="col-md-7 col-sm-7" style="text-align: center;">
        <h3>{{profile.username}}</h3>
        <br><br>
        <p>{{profile.bio}}</p>
        <div style="display:flex;justify-content:space-around">
            <button type="button" class="btn btn-outline-secondary">Followers<span class="badge bg-secondary">4</span></button>
            <button type="button" class="btn btn-outline-secondary">Following<span class="badge bg-secondary">4</span></button>
        </div>
    </div>
</div>
<h2 style="width:100%;text-align:center">Posts</h2>
<div class="row grid" style="padding:10px;border-left:solid 0.2px black;border-right:solid 0.2px black;border-top:solid 0.2px black">
    {% for post in posts %}
    <div class="col-md-4 col-sm-3 col-xs-4">
        <img src="{{ post.image_path.url }}" class="image img-fluid rounded">
    </div>
    {% endfor %}
</div>
{% endblock %}