{% load static %} {% if user.is_authenticated %}
<div class="container-fluid" style="background-color: #E5E5E5;">
    <div style="width:100%;text-align:center">
        <span class="badge"><a href="{% url 'home' %}"><img width="20px" src="{% static 'images/home.svg' %}"></a></span>
        <span class="badge"><a href="#"><img width="20px" src="{% static 'images/chat.svg' %}"></a></span>
        <span class="badge"><a href="{% url 'post' user.pk %}"><img width="20px" src="{% static 'images/add.svg' %}"></a></span>
        <span class="badge"><a href="{% url 'profile' user.pk %}"><img width="20px" src="{% static 'images/profile.svg' %}"></a></span>
        <span class="badge"><a href="{% url 'update_profile' %}"><img width="20px" src="{% static 'images/settings.svg' %}"></a></span>
    </div>
</div>
{% endif %}